 html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
  background: var(--background-color);
  color: var(--text-color);
    
}
:root{
    --background-color:#212325;
    --text-color:rgb(232, 231, 231);
    --tittle-color:#000;
  
    
}
.header{
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
  top: 0;
  left: 0;
  background-color: hwb(0 8% 92%);
  padding: 10px 10%;
  position: fixed;
}
.header h4{
    font-size: 20px;
    color: #ffd700;
    font-weight: 900;
} 
.navigation a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: var(--text-color);
    position: relative;
}
.navigation a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffD700;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.6s;
}
.navigation a:hover::after{
    width: 100%;
}
 /*-----HOME---------*/
 .home-cnt{
    
    width: 90%;
    height: 100vh;
    display: flex;
    margin-right: 10%;
    background-image: url(itechlogo.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 0;
    background-size: 500px;
    align-items: center ;
    padding:  10%;
}
.home-info{
    font-size: 24px;
}
 h2{
    color: #ffD700;
}
.home-info a{
   
    text-decoration: none;
    color: white;
    
    background: #262626;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 30px;
    float: left;
    border: 2px solid #ffD700;  
    box-shadow: 0 0 20px rgb(8,8,8);
    top: 0;
    
}
.home-info a:hover{
    background:#262626  ;
    transform: translateY(-5px);
}
/*-----about---------*/
#About h2{
    display: flex;
    justify-content: center;
    font-size: 46px;
    background-color: rgb(48, 46, 71);
    width: 80%;
    margin: auto;
    
}
.abt-box{
    width: 80%;
    height: 90vh;
    display: block;
    justify-content: center;
    background-color: rgb(48, 46, 71);
    margin: auto;
    
    padding: 3%;
  font-size: 1.5rem;
}
.abt-cnt{
    width: 10%;
    height: 30vh;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin: auto;

    
}
.abt-cnt div img{
    
    border-radius: 30px;
    border: 2px solid hsl(0, 0%, 0%);  
    transition: transform 0.5s;  
}
ul{ 
    margin: auto; 
    justify-content: center;
    width: 40%;
    height: 40vh;
    margin-top: 5%;
    overflow: scroll;
    scrollbar-width: 10%;
    overflow-x: hidden;
}
/*-----HOW TO PLAY---------*/
.half{
    display: flex;
    justify-content: center;
    color: #ffD700;
    font-size: 26px;
    margin: 2%;
}
#Howto{
    width: 80%;
    height: 35vh;
    margin: auto;
    background: #30124d;
}
.how-box ol{
   
 
    padding: 10px 0;

    margin: 30px;
}
.how-box li{
    display: list-item;
    padding: 2%;
}
.how-box a{
    text-decoration: none;
    color: white;
    
    background: #262626;
    padding: 10px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 10px;
    border: 2px solid #ffD700;  
    box-shadow: 0 0 20px rgb(8,8,8);
   
}
.how-box a:hover{
    transform: translateY(-5px);
    background:#000000  ;
}

/*-----DEVELOPERS---------*/
#Developers{
    width: 80%;
    height: 80vh;

    margin: auto;
    background: #402062;
    overflow: scroll;
    overflow-x: hidden;
}
.dev-box h1{
    cursor: pointer;
    padding: 2%;
    color:#ffd700;
}
.dev-box{
    padding: 1%;
}
.dev-box i{
    cursor: pointer;
    color: #ffD700;
    font-size: 26px;
}
.dev-box h3{
    color: hsl(207, 7%, 69%);
    font-size: 26px;
}

.copy{
    width: 100%;
    height: 8vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: hwb(0 8% 92%);
    font-size: 20px;
}
   